In [13]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns
import sqlalchemy

In [15]:
###Database Connection
Database = "sqlite:///data/Students.db"
Conn = sqlite3.connect(Students.db)
Df = pd.read_sql_query("SELECT * from Exams" , con=Conn)
Conn.close()

NameError: name 'sqlite3' is not defined